<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <link rel="shortcut icon" type="image/png" href="~/Content/assets/img/team/applelogoshortcut.png">
    <!-- title -->
    <title>AppleStore</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/Content/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/Content/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/Content/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/Content/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/Content/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/Content/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/Content/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/Content/assets/css/responsive.css">
    <!-- contact -->
    <link rel="stylesheet" href="~/Content/assets/css/contact.css">
</head>
<body>

    <!-- testimonail-section -->
    @RenderBody()

    <!-- end testimonail-section -->
    <!-- logo carousel -->
    <div class="logo-carousel-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="/Content/assets/img/company-logos/1.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="/Content/assets/img/company-logos/2.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="/Content/assets/img/company-logos/3.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="/Content/assets/img/company-logos/4.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="/Content/assets/img/company-logos/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end logo carousel -->
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Dương Apple specializes in Apple products and is committed to selling them without profit."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>113/39/17/1 Linh Xuân Thành Phố Thủ Đức</li>
                            <li>duongvuit.26@gmail.com</li>
                            <li>0865299626</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><a href="@Url.Action("About","Home")">About</a></li>
                            <li><a href="@Url.Action("Index","Shop")">Shop</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            <li><a href="@Url.Action("Index","Profile")">Profile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; 2023 - <a href="https://www.facebook.com/duonghutech.dz/">Duongit</a>,  All Rights Reserved
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/duonghutech.dz/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/gnoud_uv.26/" target="_blank"><i class="fab fa-instagram"></i></a></li>

                        </ul>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-contact">
        <button class="chat-zalo">
            <a href="https://zalo.me/0865299626" target="_blank" rel="noopener noreferrer">Chat Zalo</a>
        </button>
        <button class="chat-face">
            <a href="https://m.me/duonghutech.dz" target="_blank" rel="noopener noreferrer">Chat Facebook</a>
        </button>
    </div>

    <!-- end copyright -->
    <!-- jquery -->
    <script src="/Content/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/Content/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/Content/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/Content/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/Content/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/Content/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/Content/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/Content/assets/js/main.js"></script>

</body>
</html>