@model IEnumerable<VuDaiDuong_8627_DoAnCoSo.Models.Product>
@using VuDaiDuong_8627_DoAnCoSo.Models;

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item">
                                <a href="@Url.Action("Index","Home")">Home</a>

                            </li>
                            <li><a href="@Url.Action("About","Home")">About</a></li>


                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            <li>
                                <a href="@Url.Action("Index","Shop")">Shop</a>

                            </li>
                            <li>
                                <div class="header-icons">

                                    <a class="shopping-cart" href="@Url.Action("Index","Cart")"><i class="fas fa-shopping-cart"></i> <span id="CartCount">@Session["count"]</span></a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    <a class="mobile-hide user-bar-icon" href="@Url.Action("Login","Home")">
                                        @if (Session["IdUser"] != null)
                                        {
                                            <div style="color:white"> Welcome : @Session["FullName"]</div>
                                        }
                                        else
                                        {
                                            <i class="fas fa-user"></i>
                                        }
                                        @if (Session["IdUser"] != null)
                                        {
                                            <ul>
                                                <li><a href="~/Home/Logout"><i class="fa fa-user"></i> Log out</a></li>
                                            </ul>
                                        }
                                    </a>
                                        

                                </div>
                            </li>
                        </ul>
                    </nav>
                    
                       
            
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                        {
                            <h3>Search For:</h3>
                            <form action="#">
                                @Html.TextBox("keyword", "", htmlAttributes: new { @type = "text", @class = "TextBoxTimkiem", @placeholder = "Keywords" })
                                <button type="submit">Search<i class="fas fa-search"></i></button>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search area -->
<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">

                        <h1>Apple Store</h1>
                        <div class="hero-btns">
                            <a href="@Url.Action("Index","Shop")" class="boxed-btn">Shopping</a>
                            <a href="@Url.Action("Contact","Home")" class="bordered-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>When order over $75</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Refund</h3>
                        <p>Get refund within 3 days!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->
<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">
                    <a href="~/Video/video gioithieu.mp4" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">Since Year 2023</p>
                    <h2>We are AppleStore </h2>
                    <p>"The store specializes in providing affordable Apple products, ensuring no fake or counterfeit goods."</p>
                    <p>"This store operates by putting customer benefits as the top priority and strives to develop based on that objective."</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Products</h3>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <input type="hidden" value="@item.IdProduct" id="proid" />
                        <div class="product-image">
                            <a href="@Url.Action("DetailPro", new { id = item.IdProduct})"><img src="@Url.Content("~/Images/"+item.Image)" alt=""></a>
                        </div>
                        <div>
                            <div class="featured__item__text">
                            </div>
                        </div>
                        <h3>@item.Name </h3>
                        <p class="product-price"><span></span>@item.Price.ToString("N0") VND</p>
                        <a onclick="AddToCart(@item.IdProduct)" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- end product section -->
<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/Content/assets/img/steven job.jpg" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Steven Job <span>CEO</span></h3>
                            <p class="testimonial-body">
                                "The satisfaction of customers is the measure of success."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/Content/assets/img/steven job.jpg" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Steven Job <span>CEO</span></h3>
                            <p class="testimonial-body">
                                "The satisfaction of customers is the measure of success."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="~/Content/assets/img/steven job.jpg" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Steven Job <span>CEO</span></h3>
                            <p class="testimonial-body">
                                "The satisfaction of customers is the measure of success."
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function AddToCart(id_pr) {
        var model = {};
        model.id = id_pr;
        model.Quantity = 1;
        $.ajax({
            type: "POST",
            url: "/Cart/AddToCart",
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Thêm vào giỏ hàng thành công!");
                var cartCount = parseInt($('#CartCount').text()) || 0;
                $('#CartCount').text(cartCount + 1);
            },
            error: function () {
                alert("Lỗi trong khi thêm vào giỏ hàng!");
            }
        });
        return false;

    }
</script>