@model VuDaiDuong_8627_DoAnCoSo.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span>Details</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>

        <div class="box-content">

            <table class="table table-bordered table-striped table-condensed">

                <thead>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                     
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Html.DisplayFor(model => model.CategoryName)</td>
                        
                        <td class="center">@Html.DisplayFor(model => model.CategoryName)</td>

                        <td class="center">
                            <a asp-action="Edit" asp-route-id="@Model.IdCategory" class="btn btn-info">Edit</a>
                            <a href="@Url.Action("Index", "Category")" class="btn btn-success">Back to list</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div><!--/span-->
</div><!--/row-->
