@model IEnumerable<VuDaiDuong_8627_DoAnCoSo.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCategory }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCategory }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCategory })
        </td>
    </tr>
}

</table>
